/* HEADER */
.contact-header{
  min-height: 100vh;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)),
    url("images/beach.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 120px; 
}

.hero-text{
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-top: 25px;
}
.hero-text h1{
  color: var(--secondary-color);
  font-size: 4rem; 
  
}

.hero-content{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-60px);  
}

/* Card styling */
.contact-card{
  background: rgba(255,255,255,0.95);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  max-width: 520px;
}

.contact-card .btn{
  background:#0d47a1; border:none; color:#fff; font-weight:700;
}
.contact-card .btn:hover{ background:#1565c0; }


.contact-info{ color:#fff; text-align:center; margin-top: 20px; }
.contact-info strong{ color:inherit; font-weight:700; }

@media (max-width: 576px){
  .hero-text{ height: 25vh; }
  .hero-text h1{ font-size: 3rem; }
  .hero-content{ transform: translateY(-40px); }
}


.is-valid { border-color: #198754 !important; }   /* Bootstrap success */
.is-invalid { border-color: #dc3545 !important; } /* Bootstrap danger */
