:root {
  --primary-color: #FFFFEC;
  --secondary-color: #F1E4C3;
  --tertiary-color: #c0a977;
  --accent-color: #2A9D8F;
}

body{
  background-color: var(--primary-color);
  font-family: "Nunito","Radio Canada", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: var(--secondary-color) !important;
  font-family: "Playfair Display","Lexend Deca", sans-serif;
  font-weight: 300;
}

.dark-header{
  color: var(--tertiary-color) !important;
}

.text-bg-primary{
  background-color: var(--tertiary-color) !important;
}

.icon-link{
  color: var(--accent-color);
  text-decoration-color: var(--accent-color);
}

h1{
  font-size: 5.5em;
}

/* Index page main header hero (unchanged) */
.main-header{
  min-height: 90svh;
  height: 90vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(https://digital.ihg.com/is/image/ihg/vignette-collection-dubai-8894910396-16x9?);
  background-size: cover;      
  background-position: center;
}

/* Nav link theme */
.nav-link{
  color: var(--secondary-color);
  border-bottom: #597e5200 solid 1px;
  transition: 0.5s;
  font-weight: 250;
}
.nav-link:hover{
  color: var(--tertiary-color);
  border-bottom: #597E52 solid 1px;
}
nav .active{
  color: var(--tertiary-color) !important;
}
.nav-link:focus{
  color: var(--accent-color) !important;
}

/* Footer */
.footer-container{
  background-color: var(--accent-color);
  color: white;
}
.footer-container a{
  color: white;
}
