:root {
  --primary-color: #FFFFEC;   /* page background */
  --secondary-color: #F1E4C3; /* light beige for big headings */
  --tertiary-color: #c0a977;  /* accent used in headings */
  --accent-color: #2A9D8F;    /* footer bg + links accent */
}

.dining-header{
  min-height: 90svh;
  height: 90vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),
    url(https://images.squarespace-cdn.com/content/v1/66dc2b49a78a2f161738aa35/03bb573e-ffae-435b-b900-90ecf447ce64/IMG_8259.jpg);
  background-size: cover;
  background-position: center;
}

.btn-outline-primary:hover{
    border-color: var(--accent-color);
}

