.facilities-header{
  min-height: 90svh;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(https://www.shutterstock.com/image-photo/outdoor-bar-hotel-sharm-el-600nw-2250525219.jpg);
  background-size: cover;      
  background-position: center;

}

.hero {
    background: linear-gradient(to right,#efefd5, #F1E4C3, #c0a977);
    text-align: center;
    padding: 4rem 2rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: black !important;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

/* Facilities Grid */
.facilities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.facility-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;  

}


.facility-card h2, .facility-card p {
    color: #23292e;
    margin-bottom: 1rem;
    text-align: center;
}

.sub-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.sub-card {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}


.sub-card h3 {
    color: #333;
    margin-bottom: 0.5rem;
}

.sub-card p {
    font-size: 0.9rem;
    color: #666;
}


.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 1rem;
}

.card-image.full-width {
    height: 300px;
    grid-column: 1 / -1; 
}


.facility-card .card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;       /* rounds the image itself */
  display: block;           
}


.hero-text {
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
}

.hero-text h1 {
  color: var(--secondary-color);
  font-size: 4rem;    
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2); 
  padding: 15px 30px;
  border-radius: 20px;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .facilities-grid {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0.5rem 0;
    }

    .sub-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 2rem 1rem;
    }

    .facility-card {
        padding: 1rem;
    }
}


.details ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  
}


.redirect{
    color: black;
   position: relative;
   margin-top: 5px;
    padding: 10px 10px;
}