<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" metadata-complete="false" version="5.0">
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <display-name>CMP257-Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DiningServlet</display-name>
    <servlet-name>DiningServlet</servlet-name>
    <servlet-class>DiningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiningServlet</servlet-name>
    <url-pattern>/dining</url-pattern>
    <url-pattern>/dining.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menu</url-pattern>
    <url-pattern>/menu.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationServlet</display-name>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/reservation</url-pattern>
    <url-pattern>/reservation.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRestaurantServlet</display-name>
    <servlet-name>DeleteRestaurantServlet</servlet-name>
    <servlet-class>DeleteRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRestaurantServlet</servlet-name>
    <url-pattern>/deleteRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMenuItem</display-name>
    <servlet-name>DeleteMenuItem</servlet-name>
    <servlet-class>DeleteMenuItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMenuItem</servlet-name>
    <url-pattern>/DeleteMenuItem</url-pattern>
  </servlet-mapping>
</web-app>